@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  padding: 10px;
}

.calculator {
  width: 70%;
  margin: 150px;
}

.calculator h1 {
  font-size: 3.75rem;
}

span {
  color: #fff76f;
}

.input-box {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 15px;
  position: relative;
}

.input-box button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;
}

#result {
  font-size: 20px;
}

#result span {
  color: #fff76f;
}

/* -------------------------media querry------------------- */
@media (max-width: 750px) {
  .container {
    overflow: hidden;
  }

  .calculator {
    width: 70%;
    margin: 10% 10% 0;
  }

  .calculator h1 {
    font-size: 3rem;
  }

  .input-box {
    padding: 20px;
  }

  .input-box input {
    font-size: 20px;
    font-weight: 500px;
  }

  .input-box input::-webkit-calendar-picker-indicator {
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 20px;
    cursor: pointer;
  }

  .input-box button {
    padding: 10px 15px;
    font-weight: 200px;
  }
}

/* -------------------------media querry------------------- */
@media (max-width: 425px) {
  .container {
    overflow: hidden;
  }
  .calculator {
    width: 80%;
    margin: 10% 10% 0;
  }

  .calculator h1 {
    font-size: 2rem;
  }

  .input-box {
    padding: 12px;
  }

  .input-box input {
    font-size: 15px;
    font-weight: 500px;
  }

  .input-box input::-webkit-calendar-picker-indicator {
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 20px;
    cursor: pointer;
  }

  .input-box button {
    padding: 5px 10px;
    font-weight: 200px;
  }
}

@media (max-width: 350px) {
  .calculator {
    max-width: 100%;
  }
  .calculator h1 {
    font-size: 1.8rem;
  }
  .container {
    padding: 0;
  }
  .input-box {
    padding: 8px;
    width: 250px;
  }
  .input-box input {
    font-size: 10px;
    font-weight: 500px;
  }
}
